
@define-color accent_bg_color #d4a243;

@define-color accent_bg_color #d4a243;

@define-color accent_color #d4a243;

@define-color window_bg_color #2a1f14;

@define-color window_bg_color #2a1f14;

@define-color window_bg_color #2a1f14;

@define-color window_bg_color #2a1f14;

@define-color card_bg_color #3b2d1e;

@define-color card_fg_color #e2d5c0;

@define-color dialog_bg_color #3b2d1e;

@define-color dialog_fg_color #e2d5c0;
@define-color popover_bg_color #3b2d1e;
@define-color popover_fg_color #e2d5c0;
@define-color sidebar_bg_color #322818;
@define-color sidebar_fg_color #e2d5c0;
@define-color view_bg_color #2a1f14;
@define-color view_fg_color #e2d5c0;
@define-color warning_bg_color #e0b65b;
@define-color warning_fg_color #2a1f14;
@define-color error_bg_color #c25d5d;
@define-color error_bg_color #c25d5d;
@define-color error_fg_color #e2d5c0;
@define-color success_bg_color #8aab72;
@define-color success_fg_color #2a1f14;
