@define-color accent_bg_color #d6a241;
@define-color accent_color #d6a241;
@define-color window_bg_color #150a04;
@define-color card_bg_color #392214;
@define-color card_fg_color #e4d7c2;
@define-color dialog_bg_color #392214;
@define-color dialog_fg_color #e4d7c2;
@define-color popover_bg_color #392214;
@define-color popover_fg_color #e4d7c2;
@define-color sidebar_bg_color #392214;
@define-color sidebar_fg_color #e4d7c2;
@define-color view_bg_color #150a04;
@define-color view_fg_color #e4d7c2;
@define-color warning_bg_color #e1b65a;
@define-color warning_fg_color #150a04;
@define-color error_bg_color #ca4949;
@define-color error_fg_color #e4d7c2;
@define-color success_bg_color #79ba58;
@define-color success_fg_color #150a04;
