
@define-color accent_bg_color #d4a243;

@define-color accent_color #d4a243;

@define-color theme_bg_color #2a1f14;

@define-color theme_fg_color #e2d5c0;

@define-color theme_base_color #2a1f14;

@define-color theme_text_color #e2d5c0;

@define-color theme_selected_bg_color #d4a243;

@define-color theme_selected_fg_color #2a1f14;

@define-color headerbar_bg_color #3b2d1e;

@define-color headerbar_fg_color #e2d5c0;

