
@define-color accent_bg_color #d4a243;

@define-color accent_color #d4a243;

@define-color theme_bg_color #1a1714;

@define-color theme_fg_color #e2d5c0;

@define-color theme_base_color #1a1714;

@define-color theme_text_color #e2d5c0;

@define-color theme_selected_bg_color #d4a243;

@define-color theme_selected_fg_color #1a1714;

@define-color headerbar_bg_color #2a2420;

@define-color headerbar_fg_color #e2d5c0;

